kafka-python
pydantic>=2.0
requests
sseclient-py
qdrant-client
sentence-transformers
streamlit

sseclient-py==1.8.0
requests==2.32.3
pydantic==2.9.2
pandas==2.2.3
pyarrow==17.0.0
confluent-kafka==2.5.3

sentence-transformers==3.2.1
qdrant-client==1.11.3
streamlit==1.39.0
prefect==3.1.5
pytest==8.3.3